* {
	font-size: 20px;
	font-family: 'Playball', cursive;
	font-weight: 100;
}

.caja1 {
	height: 200px;
	width: 200px;
	background: slateblue;
	transition: blackground 0.5s, height 0.5s, width 0.5s, border 0.1s;
	border: 3px solid red;
}
/*transition controla el tiempo en este caso si pongo ALL 1s, le cambia a todo directamente
y no tengo que poner uno por uno */

.caja1:hover {
	background: darkslateblue;
	height: 300px;
	width: 300px;
	border: 3px solid blue;

}




.claselink {
	margin: 30px;
	padding: 20px;
	display: block;
}
/*transition controla el tiempo en este caso si pongo ALL 1s, le cambia a todo directamente
y no tengo que poner uno por uno */

.claselink:hover {
	padding: 20px;
	background: pink;
	color:#000;

}

.claselink:link {
	color:red;

}
/* una vez que toco el link cambia de color, es decir una vez que se toca y se visita el lugar
ya queda de color que ponga, en este caso es azul, y  cuando se visita queda el color original
*/

.claselink:visited {
	color:yellow;

}

.cajaactive {
	width: 250px;
	height: 250px;
	background:red;
	margin: 25px;
	transition: all 1.5s;
}

/* mientras aprete el boton cambia
*/

.cajaactive:active {
	background:blue;
	width: 300px;
}


.cajainput {
	
	margin: 25px;
	background: lightgrey;
	transition: background 1s; padding: 0.4s;
}

/* el focus quece el efecto que cambie color en el input, por ejemplo es gris
y cuando se escribe cambia a color blanco
*/

.cajainput:focus {
	background: white;
	padding: 20px;
	
}


.cajaimagen {
	margin: 25px;
	width: 200px;
	height: 300px;

}

.cajaimagen img {
	height: 100%;
	width: 100%;
	border: 2px solid red;
	object-fit: contain;

}

/* contain la imagen se ajusta a la resolucion real
cover> se ajusta al contenedor y corta los demas bordes 
none> actua como imagen original
scale> adapata la mejor opcion
object-position
top, left rig... mueve la imagen adentro, si pongo numeros cambia tambien

*/

.cajaimagencover {
	margin: 25px;
	width: 200px;
	height: 300px;

}

.cajaimagencover img {
	height: 100%;
	width: 100%;
	border: 2px solid red;
	object-fit: cover;

}

.cajaimagennone {
	margin: 25px;
	width: 200px;
	height: 300px;

}

.cajaimagennone img {
	height: 100%;
	width: 100%;
	border: 2px solid red;
	object-fit: none;

}

.cajaimagenscale {
	margin: 25px;
	width: 200px;
	height: 300px;

}

.cajaimagenscale img {
	height: 100%;
	width: 100%;
	border: 2px solid red;
	object-fit: scale-down;


}